In [1]:
import sys
print(sys.version)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [13]:
df = pd.read_excel('../tongi_east_Account_wise_consumer.xls')
df.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,UNIT_JAN2010,...,UNIT_MAY2016,READING_DATE_MAY2016,UNIT_JUN2016,READING_DATE_JUN2016,UNIT_JULY2016,READING_DATE_JULY2016,UNIT_AUG2016,READING_DATE_AUG2016,UNIT_SEPT2016,READING_DATE_SEPT2016
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2,A,113.0,...,227.0,05/05/2016,198.0,04/06/2016,403.0,01/07/2016,506.0,05/08/2016,628,04/09/2016
1,23211551,12659211/12,EA,A01,30.0,P.D-80 MW GTPS,"800,SFT MALOTI GR FLOOR WEST TONGI,",2,A,218.0,...,145.0,05/05/2016,118.0,04/06/2016,137.0,01/07/2016,195.0,05/08/2016,134,04/09/2016
2,23211541,10654706/12,EA,A01,40.0,P.D-80 MW GTPS,"800,SFT MALOTI FIRST FLOOR EAST, TO",2,A,22.0,...,155.0,05/05/2016,146.0,04/06/2016,125.0,01/07/2016,176.0,05/08/2016,131,04/09/2016
3,23211001,12660011/12,EA,A01,50.0,MANAGER GTPS 80 MW TONGI MALOTI FI,"GTPS 80 MW TONGI,",2,A,96.0,...,170.0,05/05/2016,208.0,04/06/2016,214.0,01/07/2016,305.0,05/08/2016,249,04/09/2016
4,23211481,111857,EA,A01,60.0,MANAGER GTPS 80 MW TONGI BELLY GR,"GTPS 80 MW TONGI,",2,A,0.0,...,26.0,05/05/2016,111.0,04/06/2016,84.0,01/07/2016,115.0,05/08/2016,99,04/09/2016

In [14]:
df_multi = df.set_index(['ACCOUNT_NO','METER_NO','BILLING_ZONE','BLOCK_BILL','ROUTE_NUMBER','NAME','ADDRESS','LOAD','SANCTION_TARIFF'])

In [15]:
df_multi.head()

,,,,,,,,,UNIT_JAN2010,READING_DATE_JAN2010,UNIT_FEB2010,READING_DATE_FEB2010,UNIT_MAR2010,READING_DATE_MAR2010,UNIT_APRIL2010,READING_DATE_APRIL2010,UNIT_MAY2010,READING_DATE_MAY2010,...,UNIT_MAY2016,READING_DATE_MAY2016,UNIT_JUN2016,READING_DATE_JUN2016,UNIT_JULY2016,READING_DATE_JULY2016,UNIT_AUG2016,READING_DATE_AUG2016,UNIT_SEPT2016,READING_DATE_SEPT2016
ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,,,,,,,,,,,,,,,,,,,,,
23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2,A,113.0,06/01/2010,129.0,06/02/2010,143.0,06/03/2010,209.0,05/04/2010,215.0,05/05/2010,...,227.0,05/05/2016,198.0,04/06/2016,403.0,01/07/2016,506.0,05/08/2016,628,04/09/2016
23211551,12659211/12,EA,A01,30.0,P.D-80 MW GTPS,"800,SFT MALOTI GR FLOOR WEST TONGI,",2,A,218.0,06/01/2010,211.0,06/02/2010,244.0,06/03/2010,348.0,05/04/2010,338.0,05/05/2010,...,145.0,05/05/2016,118.0,04/06/2016,137.0,01/07/2016,195.0,05/08/2016,134,04/09/2016
23211541,10654706/12,EA,A01,40.0,P.D-80 MW GTPS,"800,SFT MALOTI FIRST FLOOR EAST, TO",2,A,22.0,06/01/2010,114.0,06/02/2010,100.0,06/03/2010,151.0,05/04/2010,199.0,05/05/2010,...,155.0,05/05/2016,146.0,04/06/2016,125.0,01/07/2016,176.0,05/08/2016,131,04/09/2016
23211001,12660011/12,EA,A01,50.0,MANAGER GTPS 80 MW TONGI MALOTI FI,"GTPS 80 MW TONGI,",2,A,96.0,06/01/2010,104.0,06/02/2010,109.0,06/03/2010,180.0,05/04/2010,192.0,05/05/2010,...,170.0,05/05/2016,208.0,04/06/2016,214.0,01/07/2016,305.0,05/08/2016,249,04/09/2016
23211481,111857,EA,A01,60.0,MANAGER GTPS 80 MW TONGI BELLY GR,"GTPS 80 MW TONGI,",2,A,0.0,06/01/2010,0.0,06/02/2010,0.0,06/03/2010,0.0,05/04/2010,8.0,05/05/2010,...,26.0,05/05/2016,111.0,04/06/2016,84.0,01/07/2016,115.0,05/08/2016,99,04/09/2016

In [16]:
stacked = df_multi.stack()
stacked.head()

ACCOUNT_NO  METER_NO     BILLING_ZONE  BLOCK_BILL  ROUTE_NUMBER  NAME                                 ADDRESS            LOAD  SANCTION_TARIFF
23211011    12659411/12  EA            A01         20.0          MANAGER GTPS 80 MW  TONGI MALOTI GR  GTPS 80 MW TONGI,  2     A                UNIT_JAN2010                   113
                                                                                                                                                READING_DATE_JAN2010    06/01/2010
                                                                                                                                                UNIT_FEB2010                   129
                                                                                                                                                READING_DATE_FEB2010    06/02/2010
                                                                                                                                                UNIT_MAR2010                   143
dtype: object

In [17]:
stacked.to_csv('../tongi_values.csv',index= False)
df_multi.to_csv('../tongi.csv',index= False)

In [18]:
stacked.count()

4891426

In [22]:
st = pd.read_csv('../tongi_values.csv',header=None)
st.head()

            0
0       113.0
1  06/01/2010
2       129.0
3  06/02/2010
4       143.0

In [23]:
st.tail()

                  0
4891421  13/07/2016
4891422         0.0
4891423  15/08/2016
4891424           0
4891425  07/09/2016

In [68]:
st.iloc[0][0]

'113.0'

In [26]:
len(st)

4891426

In [69]:

st_list = []

In [70]:
l = len(st)
for i in range(0,l,2):
    a = st.iloc[i][0]
    b = st.iloc[i+1][0]
    st_list.append([a,b])
    st_list.append([a,b])

In [71]:
len(st_list)

4891426

In [72]:
unit_year_df  = pd.DataFrame(st_list,columns=['UNIT','DATE'])

In [73]:
unit_year_df.head()

    UNIT        DATE
0  113.0  06/01/2010
1  113.0  06/01/2010
2  129.0  06/02/2010
3  129.0  06/02/2010
4  143.0  06/03/2010

In [74]:
len(stacked)

4891426

In [75]:
stacked_copy = stacked

In [76]:
stacked_copy.head()

ACCOUNT_NO  METER_NO     BILLING_ZONE  BLOCK_BILL  ROUTE_NUMBER  NAME                                 ADDRESS            LOAD  SANCTION_TARIFF
23211011    12659411/12  EA            A01         20.0          MANAGER GTPS 80 MW  TONGI MALOTI GR  GTPS 80 MW TONGI,  2     A                UNIT_JAN2010                   113
                                                                                                                                                READING_DATE_JAN2010    06/01/2010
                                                                                                                                                UNIT_FEB2010                   129
                                                                                                                                                READING_DATE_FEB2010    06/02/2010
                                                                                                                                                UNIT_MAR2010                   143
dtype: object

In [77]:
stacked_copy['UNIT'] = unit_year_df['UNIT']

In [78]:
len(stacked_copy)

4891427

In [79]:
stacked_copy.head()

ACCOUNT_NO  METER_NO     BILLING_ZONE  BLOCK_BILL  ROUTE_NUMBER  NAME                                 ADDRESS            LOAD  SANCTION_TARIFF
23211011    12659411/12  EA            A01         20.0          MANAGER GTPS 80 MW  TONGI MALOTI GR  GTPS 80 MW TONGI,  2     A                UNIT_JAN2010                   113
                                                                                                                                                READING_DATE_JAN2010    06/01/2010
                                                                                                                                                UNIT_FEB2010                   129
                                                                                                                                                READING_DATE_FEB2010    06/02/2010
                                                                                                                                                UNIT_MAR2010                   143
dtype: object

In [80]:
stacked_copy.UNIT

METER_NO  BILLING_ZONE  BLOCK_BILL  ROUTE_NUMBER  NAME  ADDRESS  LOAD  SANCTION_TARIFF
                                                                                            0           113.0
1           113.0
2         ...
dtype: object

In [81]:
stacked_copy.tail()

ACCOUNT_NO  METER_NO  BILLING_ZONE  BLOCK_BILL  ROUTE_NUMBER  NAME              ADDRESS                 LOAD  SANCTION_TARIFF
23181741    1015055   EW            XV4         1401.0        MD.HOSSAIN MAZED  DAG-72,VATULIAH TURAG,  2     A                UNIT_AUG2016                                                             0
                                                                                                                               READING_DATE_AUG2016                                            15/08/2016
                                                                                                                               UNIT_SEPT2016                                                            0
                                                                                                                               READING_DATE_SEPT2016                                           07/09/2016
UNIT                                                                                                                                                    0           113.0
1           113.0
2         ...
dtype: object

In [82]:
stacked_copy['DATE'] = unit_year_df['DATE']

In [84]:
stacked_copy.DATE.count()

1

In [88]:
stacked_copy.iloc[100]

108.0

In [91]:
stacked.to_csv('../tongi_merged_data.csv')

In [93]:
df_tongi = pd.read_csv('../tongi_merged_data.csv')
df_tongi.head()

/Users/pd/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,A,B
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_JAN2010,113.0
1,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_JAN2010,06/01/2010
2,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_FEB2010,129.0
3,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_FEB2010,06/02/2010
4,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_MAR2010,143.0

In [94]:
df_tongi_copy = df_tongi

In [95]:
df_tongi_copy['UNIT'] = unit_year_df['UNIT']

In [96]:
df_tongi_copy.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,A,B,UNIT
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_JAN2010,113.0,113.0
1,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_JAN2010,06/01/2010,113.0
2,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_FEB2010,129.0,129.0
3,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_FEB2010,06/02/2010,129.0
4,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_MAR2010,143.0,143.0

In [97]:
df_tongi['UNIT'] = unit_year_df['UNIT']
df_tongi['DATE'] = unit_year_df['DATE']
df_tongi.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,A,B,UNIT,DATE
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_JAN2010,113.0,113.0,06/01/2010
1,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_JAN2010,06/01/2010,113.0,06/01/2010
2,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_FEB2010,129.0,129.0,06/02/2010
3,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,READING_DATE_FEB2010,06/02/2010,129.0,06/02/2010
4,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,UNIT_MAR2010,143.0,143.0,06/03/2010

In [98]:
df_tongi = df_tongi.drop('A', 1)

In [99]:
df_tongi = df_tongi.drop('B', 1)

In [100]:
df_tongi.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,UNIT,DATE
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,113.0,06/01/2010
1,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,113.0,06/01/2010
2,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,129.0,06/02/2010
3,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,129.0,06/02/2010
4,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,143.0,06/03/2010

In [101]:
df_tongi.tail()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,UNIT,DATE
4891423,23181741,1015055,EW,XV4,1401.0,MD.HOSSAIN MAZED,"DAG-72,VATULIAH TURAG,",2.0,A,0.0,15/08/2016
4891424,23181741,1015055,EW,XV4,1401.0,MD.HOSSAIN MAZED,"DAG-72,VATULIAH TURAG,",2.0,A,0,07/09/2016
4891425,23181741,1015055,EW,XV4,1401.0,MD.HOSSAIN MAZED,"DAG-72,VATULIAH TURAG,",2.0,A,0,07/09/2016
4891426,UNIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891427,DATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df_tongi_copy = df_tongi

In [106]:
df_tongi_copy.drop_duplicates(inplace=True)

In [107]:
df_tongi_copy.head()

,ACCOUNT_NO,METER_NO,BILLING_ZONE,BLOCK_BILL,ROUTE_NUMBER,NAME,ADDRESS,LOAD,SANCTION_TARIFF,UNIT,DATE
0,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,113.0,06/01/2010
2,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,129.0,06/02/2010
4,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,143.0,06/03/2010
6,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,209.0,05/04/2010
8,23211011,12659411/12,EA,A01,20.0,MANAGER GTPS 80 MW TONGI MALOTI GR,"GTPS 80 MW TONGI,",2.0,A,215.0,05/05/2010

In [111]:
df_tongi_copy.UNIT = df_tongi_copy.UNIT.apply(pd.to_numeric)

In [115]:
df_tongi_copy.DATE[0].split('/')[2]

'2010'

In [121]:
df_tongi_copy.DATE = pd.to_datetime(df_tongi_copy.DATE,dayfirst=True)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 13-09-23 00:00:00

In [122]:
df_tongi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2445706 entries, 0 to 4891427
Data columns (total 11 columns):
ACCOUNT_NO         object
METER_NO           object
BILLING_ZONE       object
BLOCK_BILL         object
ROUTE_NUMBER       float64
NAME               object
ADDRESS            object
LOAD               float64
SANCTION_TARIFF    object
UNIT               float64
DATE               object
dtypes: float64(3), object(8)
memory usage: 223.9+ MB

In [124]:
df_tongi_copy.UNIT.lt(0).sum()

2497

In [125]:
df_tongi_copy.isnull().sum()

ACCOUNT_NO          0
METER_NO            2
BILLING_ZONE        2
BLOCK_BILL          2
ROUTE_NUMBER        2
NAME                2
ADDRESS            83
LOAD                2
SANCTION_TARIFF     2
UNIT                2
DATE                2
dtype: int64

In [126]:
df_tongi_copy.dropna(inplace=True)

In [127]:
df_tongi_copy.to_csv('../tongi_merged_data.csv',index=False)