In [1]:
import sys
print(sys.version)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [2]:
df = pd.read_csv('../Shahali_imputed.csv')
df.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,6,2001,176.0,176.0
1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,9,2001,200.0,200.0
2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,10,2001,220.0,220.0
3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,8,2001,214.0,214.0
4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,12,2001,149.0,149.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4537156 entries, 0 to 4537155
Data columns (total 15 columns):
SL              float64
NAME            object
ACCOUNT_NO      int64
METER_NO        object
ADDRESS         object
ZONE            object
BLOCK           int64
ROUTE           float64
LOAD            int64
TARIFF          object
METER_STATUS    object
MONTH           int64
YEAR            int64
UNIT            float64
IMPUTE_UNIT     float64
dtypes: float64(4), int64(5), object(6)
memory usage: 519.2+ MB

In [8]:
df = df.drop(df[df.YEAR < 1998].index)

In [29]:
df_group_year_month = df.groupby(['YEAR','MONTH','TARIFF'])

In [45]:
df_describe= df_group_year_month.IMPUTE_UNIT.describe()
df_describe.head()

/Users/pd/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

YEAR  MONTH  TARIFF
1998  9      A       count    167.000000
                     mean     200.131737
                     std      151.850654
                     min        0.000000
                     25%      100.500000
Name: IMPUTE_UNIT, dtype: float64

In [46]:
df_describe.tail()

YEAR  MONTH  TARIFF
2016  10     F       min       0.0
                     25%    1598.0
                     50%    3196.0
                     75%    4794.0
                     max    6392.0
Name: IMPUTE_UNIT, dtype: float64

In [47]:
df_describe = df_describe.unstack()

In [48]:
df_describe.head()

                   count        mean         std    min    25%    50%    75%  \
YEAR MONTH TARIFF
1998 9     A       167.0  200.131737  151.850654    0.0  100.5  180.0  297.5
           D         1.0  500.000000         NaN  500.0  500.0  500.0  500.0
           E        33.0  173.727273  149.203149    0.0    0.0  180.0  260.0
     10    A        49.0  359.612245  340.670100    0.0    0.0  360.0  550.0
           E        12.0  182.416667  185.651413    0.0    0.0  194.5  360.0

                      max
YEAR MONTH TARIFF
1998 9     A        880.0
           D        500.0
           E        450.0
     10    A       1400.0
           E        360.0

In [50]:
df_describe.to_csv('../basic_analysis_description_on_shah_ali.csv')

In [ ]:
df_describe.mean.plot(kind='bar')
plt.show()