In [1]:
import sys
print(sys.version)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [2]:
df = pd.read_csv('../Shahali_imputed.csv')
df.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,6,2001,176.0,176.0
1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,9,2001,200.0,200.0
2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,10,2001,220.0,220.0
3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,8,2001,214.0,214.0
4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,12,2001,149.0,149.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4537156 entries, 0 to 4537155
Data columns (total 15 columns):
SL              float64
NAME            object
ACCOUNT_NO      int64
METER_NO        object
ADDRESS         object
ZONE            object
BLOCK           int64
ROUTE           float64
LOAD            int64
TARIFF          object
METER_STATUS    object
MONTH           int64
YEAR            int64
UNIT            float64
IMPUTE_UNIT     float64
dtypes: float64(4), int64(5), object(6)
memory usage: 519.2+ MB

In [4]:
df = df.drop(df[df.YEAR < 1998].index)
df.to_csv('../Shahali_imputed.csv',index=False)

In [29]:
df_group_year_month = df.groupby(['YEAR','MONTH','TARIFF'])

In [45]:
df_describe= df_group_year_month.IMPUTE_UNIT.describe()
df_describe.head()

/Users/pd/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

YEAR  MONTH  TARIFF
1998  9      A       count    167.000000
                     mean     200.131737
                     std      151.850654
                     min        0.000000
                     25%      100.500000
Name: IMPUTE_UNIT, dtype: float64

In [46]:
df_describe.tail()

YEAR  MONTH  TARIFF
2016  10     F       min       0.0
                     25%    1598.0
                     50%    3196.0
                     75%    4794.0
                     max    6392.0
Name: IMPUTE_UNIT, dtype: float64

In [47]:
df_describe = df_describe.unstack()

In [48]:
df_describe.head()

                   count        mean         std    min    25%    50%    75%  \
YEAR MONTH TARIFF
1998 9     A       167.0  200.131737  151.850654    0.0  100.5  180.0  297.5
           D         1.0  500.000000         NaN  500.0  500.0  500.0  500.0
           E        33.0  173.727273  149.203149    0.0    0.0  180.0  260.0
     10    A        49.0  359.612245  340.670100    0.0    0.0  360.0  550.0
           E        12.0  182.416667  185.651413    0.0    0.0  194.5  360.0

                      max
YEAR MONTH TARIFF
1998 9     A        880.0
           D        500.0
           E        450.0
     10    A       1400.0
           E        360.0

In [50]:
df_describe.to_csv('../basic_analysis_description_on_shah_ali.csv')

In [ ]:
df_describe.mean.plot(kind='bar')
plt.show()

In [5]:
df_describe = pd.read_csv('../basic_analysis_description_on_shah_ali.csv')
df_describe.head()

,YEAR,MONTH,TARIFF,count,mean,std,min,25%,50%,75%,max
0,1998,9,A,167.0,200.131737,151.850654,0.0,100.5,180.0,297.5,880.0
1,1998,9,D,1.0,500.000000,NaN,500.0,500.0,500.0,500.0,500.0
2,1998,9,E,33.0,173.727273,149.203149,0.0,0.0,180.0,260.0,450.0
3,1998,10,A,49.0,359.612245,340.670100,0.0,0.0,360.0,550.0,1400.0
4,1998,10,E,12.0,182.416667,185.651413,0.0,0.0,194.5,360.0,360.0

In [6]:
df_describe.sort_values('max')

,YEAR,MONTH,TARIFF,count,mean,std,min,25%,50%,75%,max
442,2005,1,C,2.0,0.000000,0.000000,0.0,0.000000,0.0,0.00,0.0
93,2000,7,A2,3.0,0.000000,0.000000,0.0,0.000000,0.0,0.00,0.0
449,2005,2,C,2.0,0.000000,0.000000,0.0,0.000000,0.0,0.00,0.0
484,2005,7,C,2.0,0.000000,0.000000,0.0,0.000000,0.0,0.00,0.0
1356,2015,9,J,2.0,10.000000,14.142136,0.0,5.000000,10.0,15.00,20.0
1452,2016,9,J,2.0,19.000000,26.870058,0.0,9.500000,19.0,28.50,38.0
1364,2015,10,J,2.0,20.000000,28.284271,0.0,10.000000,20.0,30.00,40.0
1324,2015,5,J,2.0,26.000000,19.798990,12.0,19.000000,26.0,33.00,40.0
1428,2016,6,J,2.0,20.000000,28.284271,0.0,10.000000,20.0,30.00,40.0
1412,2016,4,J,2.0,20.500000,28.991378,0.0,10.250000,20.5,30.75,41.0
1316,2015,4,J,2.0,34.000000,9.899495,27.0,30.500000,34.0,37.50,41.0
1340,2015,7,J,2.0,20.500000,28.991378,0.0,10.250000,20.5,30.75,41.0
1436,2016,7,J,2.0,21.500000,30.405592,0.0,10.750000,21.5,32.25,43.0
1404,2016,3,J,2.0,21.500000,30.405592,0.0,10.750000,21.5,32.25,43.0
1332,2015,6,J,2.0,22.000000,31.112698,0.0,11.000000,22.0,33.00,44.0
1348,2015,8,J,2.0,22.000000,31.112698,0.0,11.000000,22.0,33.00,44.0
1380,2015,12,J,2.0,22.000000,31.112698,0.0,11.000000,22.0,33.00,44.0
1372,2015,11,J,2.0,23.000000,32.526912,0.0,11.500000,23.0,34.50,46.0
1420,2016,5,J,2.0,23.000000,32.526912,0.0,11.500000,23.0,34.50,46.0
1396,2016,2,J,2.0,23.500000,33.234019,0.0,11.750000,23.5,35.25,47.0
1244,2014,7,J,2.0,29.500000,26.162951,11.0,20.250000,29.5,38.75,48.0
1444,2016,8,J,2.0,24.000000,33.941125,0.0,12.000000,24.0,36.00,48.0
1292,2015,1,J,2.0,53.500000,16.263456,42.0,47.750000,53.5,59.25,65.0
1268,2014,10,J,2.0,57.000000,21.213203,42.0,49.500000,57.0,64.50,72.0
1260,2014,9,J,2.0,59.500000,26.162951,41.0,50.250000,59.5,68.75,78.0
1300,2015,2,J,2.0,61.000000,28.284271,41.0,51.000000,61.0,71.00,81.0
1308,2015,3,J,2.0,61.000000,28.284271,41.0,51.000000,61.0,71.00,81.0
1284,2014,12,J,2.0,63.000000,31.112698,41.0,52.000000,63.0,74.00,85.0
1276,2014,11,J,2.0,80.000000,50.911688,44.0,62.000000,80.0,98.00,116.0
1252,2014,8,J,2.0,99.500000,86.974134,38.0,68.750000,99.5,130.25,161.0
...,...,...,...,...,...,...,...,...,...,...,...
1331,2015,6,F,7.0,10712.642857,15576.475882,435.0,2660.500000,5101.0,9604.75,44922.0
362,2004,2,A,13567.0,143.034422,416.166348,0.0,61.000000,111.0,179.00,45128.0
1339,2015,7,F,7.0,9817.889610,15784.375956,1257.0,2397.863636,3942.0,6735.75,45259.0
1387,2016,1,F,7.0,10045.428571,15886.190658,1123.0,2014.500000,4885.0,7400.50,45480.0
389,2004,5,F,2.0,33375.000000,17331.187207,21120.0,27247.500000,33375.0,39502.50,45630.0
1309,2015,4,A,32979.0,267.614564,364.780646,0.0,NaN,NaN,NaN,46045.0
1363,2015,10,F,7.0,10086.857143,16418.739044,842.0,1312.500000,3681.0,8446.50,46567.0
1153,2013,7,A,27287.0,319.841316,531.173530,0.0,NaN,NaN,NaN,46909.0
1355,2015,9,F,7.0,9533.142857,16664.311681,1008.0,1365.500000,2920.0,6572.00,46929.0
586,2006,10,A,16568.0,239.458114,452.835601,0.0,NaN,NaN,NaN,47306.0
579,2006,9,A,16435.0,272.273874,483.720158,0.0,NaN,NaN,NaN,48241.0
1379,2015,12,F,7.0,10572.142857,16963.204134,1210.0,2237.500000,4486.0,7642.00,48550.0
1172,2013,9,E,2591.0,407.477179,1167.031816,0.0,NaN,NaN,NaN,48620.0
1323,2015,5,F,7.0,10853.928571,17101.436183,1039.0,2697.500000,5070.0,7649.75,49174.0
369,2004,3,A,13664.0,166.016979,507.063380,0.0,76.000000,130.0,203.00,55147.0
572,2006,8,A,16292.0,259.137138,536.803996,0.0,NaN,NaN,NaN,58517.0
544,2006,4,A,15918.0,228.827207,597.454604,0.0,NaN,NaN,NaN,59995.0
299,2003,5,A,12824.0,227.664691,615.384876,0.0,114.000000,185.0,283.00,63550.0
845,2009,11,A,20907.0,264.374988,531.147652,0.0,NaN,NaN,NaN,63904.0
677,2007,11,A,18119.0,236.170440,554.530446,0.0,NaN,NaN,NaN,67251.0
662,2007,8,F,3.0,25355.000000,38761.002038,2072.0,2982.500000,3893.0,36996.50,70100.0
578,2006,8,F,3.0,28394.666667,38879.271615,2762.0,6027.000000,9292.0,41211.00,73130.0
649,2007,7,A,17525.0,273.330986,724.342699,0.0,NaN,NaN,NaN,87281.0
669,2007,9,F,3.0,34964.666667,48256.547093,3796.0,7172.000000,10548.0,50549.00,90550.0
740,2008,8,A,19259.0,288.498963,744.596370,0.0,NaN,NaN,NaN,93529.0
656,2007,8,A,17827.0,282.209446,790.829452,0.0,NaN,NaN,NaN,98334.0
642,2007,6,A,17498.0,267.088729,785.743901,0.0,NaN,NaN,NaN,98712.0
230,2002,7,A,11504.0,280.694106,2582.649593,0.0,130.000000,205.0,315.00,275609.0
950,2011,2,A,21754.0,1030.471969,123564.711215,0.0,NaN,NaN,NaN,18225000.0
971,2011,5,A,21770.0,1303.904508,149906.434996,0.0,NaN,NaN,NaN,22118400.0