In [1]:
import sys
print(sys.version)
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [2]:
df = pd.read_csv('../Shahali_imputed.csv')
df.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
0,5702.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,6,2001,176.0,176.0
1,5871.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,9,2001,200.0,200.0
2,5904.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,10,2001,220.0,220.0
3,5916.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,8,2001,214.0,214.0
4,6041.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,12,2001,149.0,149.0

In [3]:
df.count()

SL              4537153
NAME            4537153
ACCOUNT_NO      4537153
METER_NO        4537153
ADDRESS         4537153
ZONE            4537153
BLOCK           4537153
ROUTE           4537153
LOAD            4537153
TARIFF          4537153
METER_STATUS    4537153
MONTH           4537153
YEAR            4537153
UNIT            4537153
IMPUTE_UNIT     4534705
dtype: int64

In [4]:
df = df.drop(df[df.YEAR < 2010].index)
df.count()

SL              2479224
NAME            2479224
ACCOUNT_NO      2479224
METER_NO        2479224
ADDRESS         2479224
ZONE            2479224
BLOCK           2479224
ROUTE           2479224
LOAD            2479224
TARIFF          2479224
METER_STATUS    2479224
MONTH           2479224
YEAR            2479224
UNIT            2479224
IMPUTE_UNIT     2477309
dtype: int64

In [5]:
df.isnull().sum()

SL                 0
NAME               0
ACCOUNT_NO         0
METER_NO           0
ADDRESS            0
ZONE               0
BLOCK              0
ROUTE              0
LOAD               0
TARIFF             0
METER_STATUS       0
MONTH              0
YEAR               0
UNIT               0
IMPUTE_UNIT     1915
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.groupby('YEAR')

In [9]:
df.head()

,SL,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT,IMPUTE_UNIT
105,9854.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,1,2010,98.0,98.0
106,9926.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,3,2010,174.0,174.0
107,9956.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,2,2010,112.0,112.0
108,10112.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,4,2010,162.0,162.0
109,10208.0,PAIKPARA GOVT STAFF QTR,29000041,1068554,"BLD-129/10 MIRPUR, DHAKA",SAAA,100,10.0,2,A,Child,5,2010,240.0,240.0

In [10]:
df_2010 = df.loc[df['YEAR'] == 2010]
df_2010.count()

SL              287767
NAME            287767
ACCOUNT_NO      287767
METER_NO        287767
ADDRESS         287767
ZONE            287767
BLOCK           287767
ROUTE           287767
LOAD            287767
TARIFF          287767
METER_STATUS    287767
MONTH           287767
YEAR            287767
UNIT            287767
IMPUTE_UNIT     287767
dtype: int64

In [11]:
df_2011 = df.loc[df['YEAR'] == 2011]
df_2011.count()

SL              293395
NAME            293395
ACCOUNT_NO      293395
METER_NO        293395
ADDRESS         293395
ZONE            293395
BLOCK           293395
ROUTE           293395
LOAD            293395
TARIFF          293395
METER_STATUS    293395
MONTH           293395
YEAR            293395
UNIT            293395
IMPUTE_UNIT     293395
dtype: int64

In [15]:
df_2016 = df.loc[df['YEAR'] == 2016]
df_2015 = df.loc[df['YEAR'] == 2015]
df_2014 = df.loc[df['YEAR'] == 2014]
df_2013 = df.loc[df['YEAR'] == 2013]
df_2012 = df.loc[df['YEAR'] == 2012]
df_2016.count()

SL              380140
NAME            380140
ACCOUNT_NO      380140
METER_NO        380140
ADDRESS         380140
ZONE            380140
BLOCK           380140
ROUTE           380140
LOAD            380140
TARIFF          380140
METER_STATUS    380140
MONTH           380140
YEAR            380140
UNIT            380140
IMPUTE_UNIT     380140
dtype: int64

In [19]:
df_2015.count()

SL              435943
NAME            435943
ACCOUNT_NO      435943
METER_NO        435943
ADDRESS         435943
ZONE            435943
BLOCK           435943
ROUTE           435943
LOAD            435943
TARIFF          435943
METER_STATUS    435943
MONTH           435943
YEAR            435943
UNIT            435943
IMPUTE_UNIT     435943
dtype: int64

In [20]:
df_new_2016 = pd.merge(df_2016,df_2015,on=['ACCOUNT_NO'],how='outer')
df_new_2016.count()

SL_x              4297567
NAME_x            4297567
ACCOUNT_NO        4297955
METER_NO_x        4297567
ADDRESS_x         4297567
ZONE_x            4297567
BLOCK_x           4297567
ROUTE_x           4297567
LOAD_x            4297567
TARIFF_x          4297567
METER_STATUS_x    4297567
MONTH_x           4297567
YEAR_x            4297567
UNIT_x            4297567
IMPUTE_UNIT_x     4297567
SL_y              4283669
NAME_y            4283669
METER_NO_y        4283669
ADDRESS_y         4283669
ZONE_y            4283669
BLOCK_y           4283669
ROUTE_y           4283669
LOAD_y            4283669
TARIFF_y          4283669
METER_STATUS_y    4283669
MONTH_y           4283669
YEAR_y            4283669
UNIT_y            4283669
IMPUTE_UNIT_y     4283669
dtype: int64