In [2]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [3]:
import pandas as pd 
import numpy as np 
import gmaps

In [4]:
addresses = pd.read_csv("../addresses_shah_ali.csv")
addresses.head()

                    address
0  BLD-129/10 MIRPUR, DHAKA
1   BLD-129/7 MIRPUR, DHAKA
2   BLD-129/3 MIRPUR, DHAKA
3   BLD-129/4 MIRPUR, DHAKA
4   BLD-129/1 MIRPUR, DHAKA

In [8]:
# addresses.drop('index', axis=1, inplace=True)
addresses.to_csv("../addresses_shah_ali.csv")

In [24]:
addresses

                                                 address
0                               BLD-129/10 MIRPUR, DHAKA
1                                BLD-129/7 MIRPUR, DHAKA
2                                BLD-129/3 MIRPUR, DHAKA
3                                BLD-129/4 MIRPUR, DHAKA
4                                BLD-129/1 MIRPUR, DHAKA
5                                BLD-131/5 MIRPUR, DHAKA
6                                BLD-131/6 MIRPUR, DHAKA
7                              BLD - 131/7 MIRPUR, DHAKA
8                          133/6 PAIK PARA MIRPUR, DHAKA
9                                BLD-131/8 MIRPUR, DHAKA
10                               BLD-131/9 MIRPUR, DHAKA
11                               BLD-135/4 MIRPUR, DHAKA
12                         133/7 PAIK PARA MIRPUR, DHAKA
13                         133/1 PAIK PARA MIRPUR, DHAKA
14                               BLD-129/8 MIRPUR, DHAKA
15                               BLD-129/9 MIRPUR, DHAKA
16                               BLD-129/5 MIRPUR, DHAKA
17                         129/2 PAIK PARA MIRPUR, DHAKA
18                               BLD-129/6 MIRPUR, DHAKA
19                               BLD-132/2 MIRPUR, DHAKA
20                               BLD-132/1 MIRPUR, DHAKA
21                               BLD-132/7 MIRPUR, DHAKA
22                               BLD-132/8 MIRPUR, DHAKA
23                               BLD-132/5 MIRPUR, DHAKA
24                               BLD-132/9 MIRPUR, DHAKA
25                               BLD-132/6 MIRPUR, DHAKA
26                              BLD-130/10 MIRPUR, DHAKA
27               BLD-130/1, GOVT STAFF QTR MIRPUR, DHAKA
28                               BLD-130/8 MIRPUR, DHAKA
29                               BLD-130/9 MIRPUR, DHAKA
...                                                  ...
20627                      85 NO, ZOO ROAD, MIRPUR DHAKA
20628                           84 ZOO ROAD SEC-2 MIRPUR
20629        PL-84, BL-A, SEC-02, ZOO ROAD MIRPUR, DHAKA
20630         PL-1/1, RD-2/1, BL-H, SEC-01 MIRPUR, DHAKA
20631                                 54 BOXNAGAR MIRPUR
20632         26/1, CHARAKHANA ROAD SEC-1, MIRPUR, DHAKA
20633  1 NO BARIBAD BOSTI, NEAR SINNIRTAK LAUNCH GHAT...
20634  GORAN CHAT BARI HINDU PARA BARI BAD ROAD SEC-1...
20635  PLOT-186/4. BARIBAD NOWBABER BAGH. SEC-01. MIR...
20636  NOWBABER BAGH TOLAR GHAT BARIBAD BUS STAND, SE...
20637    PLOT-17. ROAD-15. BLOCK-H.SEC-01. MIRPUR.DHAKA.
20638                             1-B, KAZIPURI, MIRPUR.
20639  PLOT-149, BALUR MATH, NORTH BISIL SEC-1, MIRPU...
20640  PLOT-159/160, NORTH BISIL, NEAR TIN SHED MOSQU...
20641  HOUSE/FLAT # 20/01, BLOCK # H, SECTION # 01, S...
20642  WEST SIDE POULTRY FIRM DHAKA ZOO RD., SEC-01, ...
20643       , SECTION # SEC-1, STR. 53 BOX NAGAR, MIRPUR
20644  HOUSE/FLAT # PL-100/4, BLOCK # KA, SECTION # 1...
20645  HOUSE/FLAT # PL-100/3, BLOCK # KA, SECTION # 1...
20646  HOUSE#15, ROAD#6, BLOCK#H, SECTION#1,MIRPUR, D...
20647  HOUSE/FLAT # PL-511, BLOCK # H, SECTION # 01, ...
20648  HOUSE/FLAT # PL-511, BLOCK # H, SECTION # 01, ...
20649  HOUSE/FLAT # PL-4/1, 4/2, BLOCK # BL-H, SECTIO...
20650  HOUSE/FLAT # PL-18, BLOCK # H, SECTION # 01, S...
20651  HOUSE/FLAT # DAG NO-641, SECTION # 01, STR. GO...
20652         VARIBAD WEST SIDE , RD-6, TURAG CITYSEC-1.
20653             6NO, ROAD BOSTI , BL-H, SEC-1, MIRPUR.
20654  HOUSE/FLAT # 22, ROAD # 6/E, BLOCK # H, SECTIO...
20655  HOUSE/FLAT # 10, ROAD # 02, SECTION # 1SHAH AL...
20656  HOUSE/FLAT # 1/D, ROAD # 9/1, BLOCK # A, SECTI...

[20657 rows x 1 columns]

In [9]:
import re

In [15]:
addresses.address = addresses.address.apply(lambda x: x.upper())
addresses.head()

                    address
0  BLD-129/10 MIRPUR, DHAKA
1   BLD-129/7 MIRPUR, DHAKA
2   BLD-129/3 MIRPUR, DHAKA
3   BLD-129/4 MIRPUR, DHAKA
4   BLD-129/1 MIRPUR, DHAKA

In [81]:
address_data = addresses.address.apply(lambda x : re.sub('[\s,./-]', ' ', x))
address_data

0                                 BLD 129 10 MIRPUR  DHAKA
1                                  BLD 129 7 MIRPUR  DHAKA
2                                  BLD 129 3 MIRPUR  DHAKA
3                                  BLD 129 4 MIRPUR  DHAKA
4                                  BLD 129 1 MIRPUR  DHAKA
5                                  BLD 131 5 MIRPUR  DHAKA
6                                  BLD 131 6 MIRPUR  DHAKA
7                                BLD   131 7 MIRPUR  DHAKA
8                            133 6 PAIK PARA MIRPUR  DHAKA
9                                  BLD 131 8 MIRPUR  DHAKA
10                                 BLD 131 9 MIRPUR  DHAKA
11                                 BLD 135 4 MIRPUR  DHAKA
12                           133 7 PAIK PARA MIRPUR  DHAKA
13                           133 1 PAIK PARA MIRPUR  DHAKA
14                                 BLD 129 8 MIRPUR  DHAKA
15                                 BLD 129 9 MIRPUR  DHAKA
16                                 BLD 129 5 MIRPUR  DHAKA
17                           129 2 PAIK PARA MIRPUR  DHAKA
18                                 BLD 129 6 MIRPUR  DHAKA
19                                 BLD 132 2 MIRPUR  DHAKA
20                                 BLD 132 1 MIRPUR  DHAKA
21                                 BLD 132 7 MIRPUR  DHAKA
22                                 BLD 132 8 MIRPUR  DHAKA
23                                 BLD 132 5 MIRPUR  DHAKA
24                                 BLD 132 9 MIRPUR  DHAKA
25                                 BLD 132 6 MIRPUR  DHAKA
26                                BLD 130 10 MIRPUR  DHAKA
27                 BLD 130 1  GOVT STAFF QTR MIRPUR  DHAKA
28                                 BLD 130 8 MIRPUR  DHAKA
29                                 BLD 130 9 MIRPUR  DHAKA
                               ...
20627                        85 NO  ZOO ROAD  MIRPUR DHAKA
20628                             84 ZOO ROAD SEC 2 MIRPUR
20629          PL 84  BL A  SEC 02  ZOO ROAD MIRPUR  DHAKA
20630           PL 1 1  RD 2 1  BL H  SEC 01 MIRPUR  DHAKA
20631                                   54 BOXNAGAR MIRPUR
20632           26 1  CHARAKHANA ROAD SEC 1  MIRPUR  DHAKA
20633    1 NO BARIBAD BOSTI  NEAR SINNIRTAK LAUNCH GHAT...
20634    GORAN CHAT BARI HINDU PARA BARI BAD ROAD SEC 1...
20635    PLOT 186 4  BARIBAD NOWBABER BAGH  SEC 01  MIR...
20636    NOWBABER BAGH TOLAR GHAT BARIBAD BUS STAND  SE...
20637      PLOT 17  ROAD 15  BLOCK H SEC 01  MIRPUR DHAKA
20638                               1 B  KAZIPURI  MIRPUR
20639    PLOT 149  BALUR MATH  NORTH BISIL SEC 1  MIRPU...
20640    PLOT 159 160  NORTH BISIL  NEAR TIN SHED MOSQU...
20641    HOUSE FLAT # 20 01  BLOCK # H  SECTION # 01  S...
20642    WEST SIDE POULTRY FIRM DHAKA ZOO RD   SEC 01  ...
20643           SECTION # SEC 1  STR  53 BOX NAGAR  MIRPUR
20644    HOUSE FLAT # PL 100 4  BLOCK # KA  SECTION # 1...
20645    HOUSE FLAT # PL 100 3  BLOCK # KA  SECTION # 1...
20646    HOUSE#15  ROAD#6  BLOCK#H  SECTION#1 MIRPUR  D...
20647    HOUSE FLAT # PL 511  BLOCK # H  SECTION # 01  ...
20648    HOUSE FLAT # PL 511  BLOCK # H  SECTION # 01  ...
20649    HOUSE FLAT # PL 4 1  4 2  BLOCK # BL H  SECTIO...
20650    HOUSE FLAT # PL 18  BLOCK # H  SECTION # 01  S...
20651    HOUSE FLAT # DAG NO 641  SECTION # 01  STR  GO...
20652           VARIBAD WEST SIDE   RD 6  TURAG CITYSEC 1
20653               6NO  ROAD BOSTI   BL H  SEC 1  MIRPUR
20654    HOUSE FLAT # 22  ROAD # 6 E  BLOCK # H  SECTIO...
20655    HOUSE FLAT # 10  ROAD # 02  SECTION # 1SHAH AL...
20656    HOUSE FLAT # 1 D  ROAD # 9 1  BLOCK # A  SECTI...
Name: address, dtype: object

In [39]:
data = address_data.apply(lambda x: pd.value_counts(re.split('\W+',x))).sum(axis=0)
data.head()

           20293.0
A           4639.0
AB             3.0
ABARI          2.0
ABASHIK        3.0
dtype: float64

In [40]:
data.count()

2158

In [41]:
data

                   20293.0
A                   4639.0
AB                     3.0
ABARI                  2.0
ABASHIK                3.0
ABASHON                1.0
ABDI                   2.0
ABDUL                  1.0
ABGBARI                1.0
ABGHDARUS              1.0
ABU                    2.0
AC                     1.0
ADARSSSLAM             1.0
ADARUS                53.0
ADARUSLAM              3.0
ADARUSSALAM           15.0
ADORSHO                1.0
AE                     1.0
AGOIDER                1.0
AHAH                   1.0
AHMED                  4.0
AHSANULLAH             1.0
AHURA                  1.0
AII                    1.0
AKA                    2.0
AKKEL                  2.0
ALAM                   3.0
ALAMA                  1.0
ALEN                   1.0
ALI                 1763.0
                    ...
ZAH                    1.0
ZAHANA                 6.0
ZAHANABAD              4.0
ZAHANARA               2.0
ZAHANARABAD            1.0
ZAHARA                 1.0
ZAHIRABAD              1.0
ZAHORA                 1.0
ZAHORABAD              1.0
ZAHU                   1.0
ZAHURA                78.0
ZAHURABA               1.0
ZAHURABAD             55.0
ZAHURABAGABTOLI        1.0
ZAMAY                  1.0
ZAMIDER                1.0
ZAMILA                 1.0
ZHORABED               1.0
ZIGATALA              51.0
ZIKATOLA               1.0
ZOHORA                 6.0
ZOHORABAD              6.0
ZOHURA                 5.0
ZOHURABAD             17.0
ZOHURABADDARUS         1.0
ZOHURABED              2.0
ZOO                  321.0
ZOOROAD                1.0
ZUHURABAD              3.0
ZUHURABED              1.0
dtype: float64

In [44]:
sorted_values = data.sort_values()
sorted_values

ZUHURABED                   1.0
NOBOBERBUG                  1.0
GAIDARTACKDARUSSLAM         1.0
NOBARBAG                    1.0
GAIDERTACKDARUSSALAM        1.0
GAIDERTE                    1.0
NOJAR                       1.0
GAITHER                     1.0
NOBABERGAG                  1.0
GAIDERTEKDARUS              1.0
GAIDRTACK                   1.0
GAIER                       1.0
NOBABERBAKGH                1.0
HAZE                        1.0
GAIDERTED                   1.0
NORTHBISHIDARUS             1.0
GAIDERTAK                   1.0
NOBABERBAGSHAHALI           1.0
GAODARTACKDARUS             1.0
NOABERBAGH                  1.0
NOBABARBAGH                 1.0
GAYDAR                      1.0
GAUIDERTEK                  1.0
NOBABE                      1.0
NOGOR                       1.0
NOBABERBAGG                 1.0
GAS                         1.0
GARMENTS                    1.0
GARIBEY                     1.0
GARDAN                      1.0
                         ...
H                         913.0
NEW                       958.0
ST                       1004.0
SOUTH                    1051.0
E                        1211.0
SEC                      1296.0
PL                       1327.0
SHAH                     1448.0
D                        1486.0
BAGH                     1514.0
BARI                     1677.0
DARUS                    1734.0
ALI                      1763.0
SALAM                    2099.0
RD                       2493.0
PLOT                     2499.0
B                        2549.0
C                        2825.0
COLONY                   2869.0
BLOCK                    2887.0
ROAD                     3766.0
SECTION                  3870.0
A                        4639.0
CONTACT                  5491.0
HOUSE                    6131.0
NO                       6431.0
FLAT                     6654.0
DHAKA                   10561.0
MIRPUR                  19929.0
                        20293.0
dtype: float64

In [22]:
data.sort_values(ascending=False,inplace=True)
data

                   20293.0
MIRPUR             19929.0
DHAKA              10561.0
FLAT                6654.0
NO                  6431.0
HOUSE               6131.0
CONTACT             5491.0
A                   4639.0
SECTION             3870.0
ROAD                3766.0
BLOCK               2887.0
COLONY              2869.0
C                   2825.0
B                   2549.0
PLOT                2499.0
RD                  2493.0
SALAM               2099.0
ALI                 1763.0
DARUS               1734.0
BARI                1677.0
BAGH                1514.0
D                   1486.0
SHAH                1448.0
PL                  1327.0
SEC                 1296.0
E                   1211.0
SOUTH               1051.0
ST                  1004.0
NEW                  958.0
H                    913.0
                    ...
TOAR                   1.0
ARE                    1.0
AR                     1.0
TOARBAGH               1.0
TOLABAG                1.0
TOLI                   1.0
APPART                 1.0
TOLABAGH               1.0
WAL                    1.0
APAR                   1.0
TOLARBAGHFLAT          1.0
ANY                    1.0
TOLARBAGHMIRPUR        1.0
TOLARBUGH              1.0
TOLARNAGH              1.0
ANDHARIJHAR            1.0
ANANDHA                1.0
TSO                    1.0
TRUCK                  1.0
TPLARBAG               1.0
ANANNDA                1.0
TOTAR                  1.0
ANIPARAGABTALI         1.0
ANONDHA                1.0
ANNANDA                1.0
ANNANDHA               1.0
ANNANDHO               1.0
TOLOR                  1.0
ANNANYA                1.0
ZUHURABED              1.0
dtype: float64

In [23]:
data.to_csv("../unique_words_without_numbers_in_addresses_shah_ali.csv")

In [25]:
data.sort_index()
data.head()

          20293.0
MIRPUR    19929.0
DHAKA     10561.0
FLAT       6654.0
NO         6431.0
dtype: float64

In [38]:
# data= np.delete(data, (0), axis=0)
data[0]

20293.0

In [35]:
data_df = pd.DataFrame(data=data,columns=['word','count'])

ValueError: Shape of passed values is (1, 2158), indices imply (2, 2158)

In [34]:
data_df

        0
word  NaN
count NaN