In [5]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [6]:
import pandas as pd 
import numpy as np 
import gmaps

In [12]:
addresses = pd.read_csv("../addresses_shah_ali.csv")
addresses.head()

                    address
0  BLD-129/10 MIRPUR, DHAKA
1   BLD-129/7 MIRPUR, DHAKA
2   BLD-129/3 MIRPUR, DHAKA
3   BLD-129/4 MIRPUR, DHAKA
4   BLD-129/1 MIRPUR, DHAKA

In [11]:
addresses.drop('index', axis=1, inplace=True)
addresses.to_csv("../addresses_shah_ali.csv", index=False)

In [13]:
import re

In [16]:
data = addresses.address.apply(lambda x: pd.value_counts(re.split('\W+',x))).sum(axis=0)

In [17]:
data.head()

               3453.0
0                 8.0
01             1100.0
01190002833       1.0
01190222258       1.0
dtype: float64

In [19]:
data.count()

6844

In [22]:
data.sort_values(inplace=True)
data.tail()

House      5914.0
Flat       6071.0
1         10256.0
DHAKA     10505.0
MIRPUR    18977.0
dtype: float64

In [23]:
data.sort_values(ascending=False,inplace=True)
data

MIRPUR         18977.0
DHAKA          10505.0
1              10256.0
Flat            6071.0
House           5914.0
no              5497.0
Contact         5491.0
A               4583.0
Section         3851.0
                3453.0
2               3450.0
Road            3080.0
C               2809.0
COLONY          2796.0
Block           2513.0
B               2503.0
3               2165.0
SALAM           2089.0
Plot            1956.0
ALI             1753.0
4               1739.0
BARI            1664.0
5               1637.0
BAGH            1487.0
D               1478.0
RD              1355.0
7               1337.0
PL              1319.0
SEC             1289.0
6               1248.0
                ...
01625311121        1.0
ZAMIDER            1.0
01627762995        1.0
ZAMAY              1.0
ZAHORABAD          1.0
ZAHU               1.0
ZAHANARABAD        1.0
01670163203        1.0
01670159426        1.0
01670140805        1.0
01670168373        1.0
01670057468        1.0
ZAHURABA           1.0
01671402127        1.0
31DARUS            1.0
01624234298        1.0
01623639222        1.0
ZAMILA             1.0
01622927776        1.0
ZHORABED           1.0
01622344404        1.0
01622153260        1.0
01621727284        1.0
01621207331        1.0
01620944405        1.0
01670168340        1.0
01670169104        1.0
01620709650        1.0
01671565709        1.0
1026DARUS          1.0
dtype: float64