In [1]:
import sys 
print(sys.version)

3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]

In [3]:
import pandas as pd 
import numpy as np
import gmaps

In [4]:
input_file = pd.read_csv("../pallabi.csv")
input_file.head()

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NAME,ACCOUNT_NO,METER_NO,ADDRESS,ZONE,BLOCK,ROUTE,LOAD,TARIFF,METER_STATUS,MONTH,YEAR,UNIT
0,HEAD MASTER KALSHI HIGH S,11313911,0000830099,11 E/DAG NO 3170 MIRPUR DHAKA,PLAF,110,10.0,2.0,D,Single,5,1999,1755.0
1,HEAD MASTER KALSHI HIGH S,11313911,0000830099,11 E/DAG NO 3170 MIRPUR DHAKA,PLAF,110,10.0,2.0,D,Single,6,1999,1615.0
2,HEAD MASTER KALSHI HIGH S,11313911,0000830099,11 E/DAG NO 3170 MIRPUR DHAKA,PLAF,110,10.0,2.0,D,Single,7,1999,375.0
3,HEAD MASTER KALSHI HIGH S,11313911,0000830099,11 E/DAG NO 3170 MIRPUR DHAKA,PLAF,110,10.0,2.0,D,Single,8,1999,375.0
4,HEAD MASTER KALSHI HIGH S,11313911,0000830099,11 E/DAG NO 3170 MIRPUR DHAKA,PLAF,110,10.0,2.0,D,Single,9,1999,350.0