In [5]:
import sys
print(sys.version)

3.5.2 |Anaconda 4.2.0 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]

In [6]:
import pandas as pd 
import numpy as np 
import gmaps

In [12]:
addresses = pd.read_csv("../addresses_shah_ali.csv")
addresses.head()

                    address
0  BLD-129/10 MIRPUR, DHAKA
1   BLD-129/7 MIRPUR, DHAKA
2   BLD-129/3 MIRPUR, DHAKA
3   BLD-129/4 MIRPUR, DHAKA
4   BLD-129/1 MIRPUR, DHAKA

In [11]:
addresses.drop('index', axis=1, inplace=True)
addresses.to_csv("../addresses_shah_ali.csv", index=False)

In [13]:
import re

In [ ]:
addresses.address.apply(lambda x: pd.value_counts(re.split('\W+'))).sum(axis=0)